@charset "UTF-8";
/*FUENTE PARA MI DISEÑO*/
@font-face {
  font-family: "font-poppins" sans-serif;
  src: url("../font/Poppins-Italic.ttf");
}
/*-------------------------------------------------------------------------------------------------------------*/
/*CLASES PARA MENU Y LOGO PAGINAS DISEÑO*/
/*CLASES PARA MENU Y LOGO PAGINAS DISEÑO*/
.nav-logo {
  background-color: #022E47;
  background-image: linear-gradient(to right, #022E47, #022E47, #678da3);
}

.menu-derecha {
  /*color: #022E47;*/
  color: black;
  /*font-weight: 600;*/
  font-size: 18px;
  line-height: 10px;
  font-style: italic;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-size: 20px;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu:hover {
  font-size: 23px;
}

.logo-cctv {
  height: 70px;
  /*transform: translateY(12px);*/
  transition: height 2s;
}

.logo-cctv:hover {
  height: 80px;
}

.logo-login, .logo-carro {
  text-align: right;
  width: 25px;
  height: 25px;
  justify-content: end;
}

.logo-login:hover, .logo-carro:hover {
  height: 28px;
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  .logo-cctv {
    height: 45px;
  }
  .logo-cctv:hover {
    height: 50px;
  }
  .menu-derecha {
    color: #022E47;
    font-weight: 450;
    font-size: 12px;
    line-height: 10px;
    font-style: italic;
  }
  .menu {
    font-size: 15px;
  }
  .menu:hover {
    font-size: 17px;
  }
  .logo-login {
    text-align: right;
    width: 30px;
    height: 30px;
    transform: translate(-65px, -150px);
  }
  .logo-carro {
    text-align: right;
    width: 30px;
    height: 30px;
    transform: translate(-30px, -180px);
  }
}
/*-------------------------------------------------------------------------------------------------------------*/
/* PIE DE PAGINA*/
/*BOX Modeling para el pie de pagina*/
.box-mapa {
  width: 150px;
  height: 100px;
  margin: 5px;
  padding: 5px 15px 5px 0px;
}

.box-datos {
  width: 380px;
  height: 120px;
  padding: 5px 10px 5px 15px;
}

.box-texto {
  width: 680px;
  height: 120px;
  padding: 5px 5px 5px 15px;
}

.box-icono {
  width: 50px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icono {
  width: 25px;
  height: 25px;
}

.icono:hover {
  width: 35px;
  height: 35px;
}

.box-ws {
  width: 50px;
  height: 100px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.ws {
  width: 50px;
  height: 50px;
}

.ws:hover {
  width: 60px;
  height: 60px;
}

.altofooter {
  margin-top: 0px;
}

.linea {
  margin: 0px;
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  .box-mapa {
    margin: 0px;
    padding: 10px 0px 0px 10px;
    width: 130px;
  }
  .box-datos {
    width: 180px;
    height: 50px;
    padding: 10px 5px 0px 5px;
    font-size: 9px;
  }
  .box-texto {
    width: 450px;
    height: 60px;
    padding: 0px 5px 0px 10px;
    font-size: 9px;
  }
  .box-icono {
    width: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transform: translate(300px, -170px);
  }
  .box-ws {
    width: 30px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(300px, -132px);
  }
  .ws {
    width: 35px;
    height: 35px;
  }
  .altofooter {
    margin-top: 450px;
  }
}
/*-------------------------------------------------------------------------------------------------------------*/
/*ALTA EN GRAL*/
body {
  background-color: beige;
  font-size: 15px;
  font-family: "font-poppins";
}

p {
  text-align: right;
  margin: 5px 15px 0px 0px;
}

h1 {
  font-family: cursive;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

/*Defino el ancho para el despositivo movil*/
/*Defino el color gral de mi diseño*/
/*-------------------------------------------------------------------------------------------------------------*/
/*CREACION DE BOTONES*/
boton {
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  background-color: #022E47;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

boton:hover {
  letter-spacing: 3px;
  background-color: #022E47;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

boton:active {
  letter-spacing: 3px;
  background-color: #022E47;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/*-----------------------------------------------------------------------------------------------------------*/
/*PAGINA INDEX*/
/*boton buscar*/
.centerboton {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.labelbuscar {
  width: 400px;
}

.wrap {
  width: 40%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
}

.icono-index {
  padding: 0px;
  margin: 0px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.class-nav {
  width: 350px;
}

.posicion {
  vertical-align: middle;
  height: 50px;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes efecto {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.picture-index {
  padding: 0px;
  margin: 0px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-picture {
  width: 200px;
  height: 200px;
}

.imagen-banner {
  background-position: 0px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.pro-destacados {
  width: 50%;
  height: 30%;
}

.borderindex {
  border: 2px solid black;
  border-radius: 30px;
  background: white;
  font-size: 15px;
  margin: 10px;
  padding: 20px;
}

.borderindex:hover {
  width: 95%;
  height: 95%;
}

.precioindex {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

.tituloh2 {
  text-align: center;
  color: #022E47;
}

/*Flex*/
.flex-container {
  padding: 0px;
  margin: 0px;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*GRIDS*/
#grid-containerindex {
  text-align: center;
}

/*Grid areas*/
#grilla-index {
  display: grid;
  grid-template-areas: "producto  producto   producto    producto";
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 300px;
  column-gap: 25px;
  margin-left: 30px;
}

/*Para los productos destacados*/
.bg-color {
  background-color: rgb(68, 1, 68);
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  .icono-index {
    /*padding: 0px;*/
    margin: 0px 0px 10px 10px;
    /*height: 60px;*/
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
  }
  .posicion {
    height: 25px;
    margin: 0px 0px 10px 0px;
  }
  .labelbuscar {
    width: 200px;
  }
  #grid-containerindex {
    margin-top: 10px;
  }
  #grilla-index {
    display: grid;
    grid-template-areas: "producto  producto" "producto  producto";
    grid-template-columns: repeat(2, 186px);
    grid-template-rows: repeat(2, 230px);
    column-gap: 25px;
    margin-left: 0px;
  }
  .borderindex {
    font-size: 11px;
    padding: 10px;
    width: 90%;
    height: 90%;
  }
  .borderindex:hover {
    width: 92%;
    height: 95%;
  }
  .precioindex {
    font-size: 10px;
  }
  .altologomarca {
    width: 150%;
  }
  .vermas {
    width: 395px;
    height: 80px;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*PAGINA PRODUCTOS Y ACCESORIOS*/
.option {
  color: gray;
}

.select {
  text-align: right;
}

.productob {
  width: 70%;
  height: 30%;
}

.productod {
  width: 70%;
  height: 40%;
}

.accesorio {
  width: 40%;
  height: 30%;
}

.border {
  border: 2px solid black;
  border-radius: 30px;
  background: white;
  font-size: 15px;
  margin: 10px;
}

.border:hover {
  width: 95%;
  height: 95%;
}

.button {
  padding: 6px 12px;
}

.precio {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

.dropdowns {
  margin-right: 15px;
}

/*GRIDS*/
#grid-ctrproduc {
  /*Box-modeling*/
  margin: 20px auto;
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  text-align: center;
  height: 1250px;
}

#grid-ctracces {
  /*Box-modeling*/
  margin: 20px auto;
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  text-align: center;
  height: 1250px;
}

/*Grid areas*/
#grillaproducto {
  display: grid;
  grid-template-areas: "producto   producto    producto    producto  producto" "producto   producto    producto    producto  producto" "producto   producto    producto    producto  producto" "producto   producto    producto    producto  producto";
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 22%);
}

#grillaaccesorio {
  display: grid;
  grid-template-areas: "accesorio   accesorio    accesorio    accesorio  accesorio" "accesorio   accesorio    accesorio    accesorio  accesorio" "accesorio   accesorio    accesorio    accesorio  accesorio" "accesorio   accesorio    accesorio    accesorio  accesorio";
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 23%);
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  .select {
    text-align: right;
  }
  .dropdowns {
    font-size: 12px;
  }
  boton {
    padding: 5px 10px;
    font-size: 10px;
  }
  .button {
    padding: 0px 6px;
  }
  .border {
    border: 2px solid black;
    border-radius: 30px;
    background: white;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    width: 95%;
    height: 95%;
  }
  .border:hover {
    width: 92%;
    height: 95%;
  }
  .precio {
    font-size: 10px;
    text-align: center;
    margin: 0px;
  }
  .productob {
    width: 50%;
    height: 30%;
  }
  .productod {
    width: 50%;
    height: 40%;
  }
  .accesorio {
    width: 50%;
    height: 30%;
  }
  /*GRIDS*/
  #grid-ctrproduc {
    height: 1450px;
  }
  #grid-ctracces {
    height: 1350px;
  }
  /*Grid areas*/
  #grillaproducto {
    display: grid;
    grid-template-areas: "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto" "producto  producto";
    grid-template-columns: repeat(2, 198px);
    grid-template-rows: repeat(10, 185px);
    /*column-gap: 25px;*/
    margin-left: 0px;
  }
  #grillaaccesorio {
    display: grid;
    grid-template-areas: "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio" "accesorio  accesorio";
    grid-template-columns: repeat(2, 198px);
    grid-template-rows: repeat(10, 175px);
    /*column-gap: 25px;*/
    margin-left: 0px;
  }
}
/*---------------------------------------------------------------------------------------------------------------*/
/*PAGINA NOSOTROS*/
.nosotros {
  margin-left: 10px;
  margin-right: 10px;
}

.subtitulo {
  font-weight: 500;
  font-size: 18px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*PAGINA CONTACTO*/
/*BOX Modeling para la pagina Contacto*/
#grilla-contacto {
  display: grid;
  grid-template-areas: "datos  contacto";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin: 10px;
}

.pag-contacto {
  display: grid;
  justify-items: start;
  align-items: center;
}

/*Mejoras de BootStrap*/
.boxcontacto {
  margin-bottom: 1rem !important;
  padding-left: 10px;
}

.boxlabel {
  width: 90%;
}

.boton {
  margin: 20px;
}

.tituloh6 {
  text-align: center;
  color: #022E47;
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  #grilla-contacto {
    display: grid;
    grid-template-areas: "datos" "contacto";
    grid-template-columns: 98%;
    grid-template-rows: 50% 50%;
    margin: 0px;
  }
  .pag-contacto {
    padding-left: 10px;
    margin: 10px;
  }
  .boxlabel {
    width: 100%;
  }
}
/*--------------------------------------------------------------------------------------------------------------*/
/*PAGINA LOGIN*/
#grilla-login {
  display: grid;
  grid-template-areas: "login   registro";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin: 10px;
}

.text-login {
  text-align: left;
}

/*Mejoras de BootStrap*/
.boxlogin {
  margin-bottom: 1rem !important;
  padding-left: 10px;
}

.labellogin {
  width: 90%;
}

.botonlogin {
  margin: 10px;
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  #grilla-login {
    display: grid;
    grid-template-areas: "login" "registro";
    grid-template-columns: 95%;
    grid-template-rows: 50% 50%;
    margin: 10px;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*PAGINA CONTRASENA*/
/*BOX Modeling para la pagina Contrasena*/
.box-correo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.emailcontrasena {
  width: 350px;
}

.correccion {
  height: 350px;
}

.tituloh4 {
  text-align: center;
  color: #022E47;
}

/*Diseño Responsive*/
@media screen and (max-width: 400px) {
  .emailcontrasena {
    width: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
