body
    {
        background-color:beige;
        font-size: 15px;
        font-family: "font-poppins";
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    }
p    
    {   
        text-align: right;        
        margin: 5px 15px 0px 0px;
    }
h1
    {
        font-family: cursive; 
        margin-left: 10px;       
    }