/*FUENTE PARA MI DISEÑO*/
@font-face 
    {
        font-family: "font-poppins" sans-serif;
        src: url("../font/Poppins-Italic.ttf");
    }
/*-------------------------------------------------------------------------------------------------------------*/
/*ALTA EN GRAL*/
body
    {
        background-color:beige;
        font-size: 15px;
        /*font-family: "font-poppins" sans-serif;*/
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
p    
    {   
        text-align: right;        
        margin: 5px 15px 0px 0px;
    }
h1
    {
        font-family: cursive; 
        margin-left: 10px;       
    }
/*Defino el ancho para el despositivo movil*/
$celular: 320px;
/*-----------------------------------------------------------------*/
/*CREACION DE BOTONES*/
boton 
    {
        padding: 10px 20px;
        border-radius: 50px;
        border: 0;        
        background-color:darkolivegreen;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all .5s ease;
    }   
boton:hover 
    {
        letter-spacing: 3px;        
        background-color:#022E47;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }   
boton:active 
    {
        letter-spacing: 3px;        
        background-color:#022E47;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }
/*--------------------------------------------------------------------------------*/
/*CLASES PARA MENU Y LOGO PAGINAS DISEÑO*/
.nav-logo
    {
        background-color:#022E47;
        background-image: none;        
    }
.menu-derecha 
    {
        color:#022E47;
        font-weight: 600;
        font-size: 15px;
        line-height: 10px;
        font-style: italic;                  
        width: 20px;
        height: 20px;               
    }
.logo-cctv
    {        
        height: 70px;     
    }
.logo-link
    {
    /*   display: flex;
        flex-direction: column;
        flex-wrap: wrap;*/

        text-align:right;
        width: 20px;
        height: 20px;      
    } 

/*Diseño Responsive*/
@media screen and (max-width: $celular) 
    {
        .logo-cctv 
            {
              height: 45px;
            }
        .menu-derecha 
            {
                color: #022E47;
                font-weight: 450;
                font-size: 12px;
                line-height: 10px;
                font-style: italic;         
            }
    }
/*----------------------------------------------------------------------*/
/* PIE DE PAGINA*/
/*BOX Modeling para el pie de pagina*/
.box-mapa
    {        
        width: 150px;
        height: 100px;       
        margin: 5px;
        padding: 5px 15px 5px 0px;
    }
.box-datos
    {
        width: 250px;
        height: 120px;     
        padding: 5px 10px 5px 15px;
        font-size: 10px;
    }
.box-texto
    {
        width: 680px;
        height: 120px;                      
        padding: 5px 5px 5px 15px;
        font-size: 10px;
    }
.box-icono
    {        
        width: 50px;
        height: 100px;     
        margin: 10px; 
        display: flex;        
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content:space-evenly; 
    }
.box-ws
    {        
        width: 50px;
        height: 100px;     
        margin: 0px; 

        display: flex;        
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content: center;                   
    }
.altofooter
    {
      margin-top: 0px;
    }
/*Diseño Responsive*/
@media screen and (max-width: $celular) 
    {
        .box-mapa
            {      
                margin: 0px;
                padding: 10px 15px 0px 10px;
            }
        .box-datos
            {
                width: 200px;
                height: 50px;
                padding: 0px 5px 0px 30px;
                font-size: 9px;
            }        
        .box-texto
            {
                width: 450px;
                height: 60px;
                padding: 10px 5px 0px 10px;
                font-size: 9px;
            }        
        .box-icono
            {
                width: 30px;
                /*height: 50px;*/
                margin: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }        
        .box-ws
            {
                width: 30px;
                /*height: 50px;*/
                margin: 0px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
            }
        .altofooter
            {
                margin-top: 450px;
            }
    }
/*-----------------------------------------------------------------------------------------------------------*/
/*PAGINA INDEX*/
/*boton buscar*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    border: 2px solid black;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
  }
  .searchButton {
    width: 40px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: purple;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap {
    width: 40%;
    height: 50px;
    position: absolute;
    /* top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
  }
  .icono-index {
    padding: 0px;
    margin: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .class-nav {
    width: 350px;
  }
  .posicion {
    vertical-align: middle; 
    height: 50px;
  }
  
  .picture-index {
    padding: 0px;
    margin: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .nav-picture {
    width: 200px;
    height: 200px;
  }
  
  .imagen-banner {
    background-position: 0px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
  }
  
  .camarabulletindex {
    width: 200px;
    height: 100px;
  }
  .camaradomoindex {
    width: 100px;
    height: 100px;
  }
  .dvrindex {
    width: 250px;
    height: 100px;
  }
  .accesorioindex {
    width: 200px;
    height: 100px;
  }
  .borderindex
    {
      border: 2px solid black;
      border-radius: 30px;
      background: white;
      font-size: 15px;
      margin: 10px;
      padding: 20px;
  }
  .precioindex 
    {
      font-size: 30px;
      text-align: center;
      margin: 0px;
    }
  
    .tituloh2
      {
        text-align: center;
        color: #022E47;
  
      }
  
  
  /*Flex*/
  .flex-container {
    padding: 0px;
    margin: 0px;
    height: 120px; 
    display: flex;  
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: flex-start;  
  }
  
  /*GRIDS*/
  #grid-containerindex {  
    text-align: center;  
  }
  
  /*Grid areas*/
  #grilla-index {
    display: grid;
    grid-template-areas:  
          "producto  producto   producto    producto";
    grid-template-columns: repeat(4,300px);
    grid-template-rows: 370px;
    column-gap: 25px;
    margin-left: 30px;   
  }
  /*Para los productos destacados*/
    .bg-color {   
      background-color: rgb(68, 1, 68) ;
    }
  
  /*Diseño Responsive*/
  @media screen and (max-width: $celular)
    {
      .icono-index 
        {
          /*padding: 0px;*/
          margin: 0px 0px 10px 10px;
          /*height: 60px;*/
          display: flex;
          flex-direction: row;
          /*flex-wrap: wrap;*/
          justify-content: flex-start;
        }
      .posicion 
        {
          height: 25px;
          margin:0px 0px 10px 0px;      
        }
      #grid-containerindex 
        {
          margin-top: 10px;    
        }
      #grilla-index 
        {
          display: grid;
          grid-template-areas:  
                "producto  producto"
                "producto  producto";
          grid-template-columns: repeat(2,145px);
          grid-template-rows: repeat(2,230px);
          column-gap: 25px;
          margin-left:0px;       
        }
  
    .borderindex
      {      
        font-size: 9px;
        padding: 10px;
      }
    .camarabulletindex 
      {
        width: 100px;
        height: 50px;
      }
    .camaradomoindex 
      {
        width: 70px;
        height: 70px;
      }
    .dvrindex 
      {
        width: 100px;
        height: 50px;
      }
    .accesorioindex 
      {
        width: 100px;
        height: 70px;
      }
    .precioindex 
      {
        font-size: 10px;
      }
    .altologomarca
      {
        width: 150%;
      }
  }

/*---------------------------------------------------------------------------------------------------------*/
/*PAGINA PRODUCTOS Y ACCESORIOS*/
.option {
    color: gray;
  }
  
  .select {
    text-align: right;
  }
  
  .camarabullet {
    width: 200px;
    height: 100px;
  }
  
  .camaradomo {
    width: 100px;
    height: 100px;
  }
  
  .dvr {
    width: 250px;
    height: 100px;
  }
  
  .accesorio {
    width: 200px;
    height: 100px;
  }
  
  .border {
    border: 2px solid black;
    border-radius: 30px;
    background: white;
    font-size: 15px;
    margin: 10px;
  }
  
  .precio {
    font-size: 30px;
    text-align: center;
    margin: 0px;
  }
  
  .dropdowns {
    margin-right: 15px;
  }
  
  /*GRIDS*/
  #grid-container {
    /*Box-modeling*/
    margin: 20px auto;
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    text-align: center;
    height: 600px;
  }
  
  /*Grid areas*/
  #grilla {
    display: grid;
    grid-template-areas:  "producto   producto    producto    producto" 
                          "producto   producto    producto    producto" 
                          "producto   producto    producto    producto" 
                          "producto   producto    producto    producto" 
                          "producto   producto    producto    producto";
    grid-template-columns: auto;
    grid-template-rows: 300px 300px 300px 300px 300px;
  }
  
  /*Diseño Responsive*/
  @media screen and (max-width: $celular)
    {
      .select 
        {
          text-align: right;
        }    
      .camarabullet
        {
          width: 100px;
          height: 50px;
        }    
      .camaradomo {
        width: 70px;
        height: 70px;
      }    
      .dvr {
        width: 150px;
        height: 50px;
      }    
      .accesorio {
        width: 200px;
        height: 100px;
      }
      .dropdowns 
        {
          font-size: 12px;
        }
        
      boton
      {
        padding: 5px 10px;
        font-size: 10px;    
      }
  
      .border {
        border: 2px solid black;
        border-radius: 30px;
        background: white;
        font-size: 9px;
        margin: 10px;
        height: 170px;
        width: 200px;
      }
      
      .precio {
        font-size: 10px;
        text-align: center;
        margin: 0px;
      }    
     
      /*GRIDS*/
      #grid-container {
        /*Box-modeling*/
        margin: 20px auto;
        display: grid;
        column-gap: 30px;
        row-gap: 20px;
        text-align: center;
        height: 600px;
      }
      
      /*Grid areas*/   
      #grilla 
                  {
                      display: grid;                    
                      grid-template-areas:  "producto  producto" 
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto"
                                            "producto  producto";         
                      grid-template-columns: auto;
                      grid-template-rows: 200px repeat(9,1fr);
  
                      margin: 20px;
                  }
    }

/*---------------------------------------------------------------------------------------------------------------*/    
/*PAGINA NOSOTROS*/
.nosotros
    {
        margin-left: 10px;
        margin-right: 10px;    
    }
.subtitulo
    {
        font-weight:500;
        font-size: 18px;  
    }

/*--------------------------------------------------------------------------------------------------------------*/    
/*PAGINA CONTACTO*/
/*BOX Modeling para la pagina Contacto*/
.box-label
    {
        width: 500px;
        height: 100px;       
        margin: 0px;
        padding: 5px 15px 5px 0px;                 
    }
.box-titulo
    {        
        width: 180px;
        height: 100px;               
    }
.box-contacto
    {
        width: 350px;
        height: 350px;     
        margin: 40px; 

        display: flex;        
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content: center;  
        
        font-size: 20px;
    }

/*PAGINA LOGIN*/
/*BOX Modeling para la pagina Login*/
.box-label-login
    {        
        font-size: 30px;

        display: flex;        
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;;           
    }
.box-text-login
    {
        width: 400px;
        height: 250px;     
        margin: 0px;
        padding: 0px 100px 0px 50px; 

        display: flex;        
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: start;           
    }
.box-text-registro
    {
        width: 700px;
        height: 150px;     
        margin: 0px; 

        display: flex;        
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: start;           
    }

/*BOX Modeling para la pagina Contrasena*/
.box-correo
    {        
        font-size: 30px;

        display: flex;        
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;;           
    }

